#Android generated
bin
gen

#Eclipse
.project
.classpath
.settings
.checkstyle
.springBeans

#IntelliJ IDEA
.idea
*.iml

#Maven
target
release.properties
pom.xml.*

#Gradle
.gradle
build

#Python
*.pyc

#Other
.DS_Store
tmp
/*.sh
/*.py
.ropeproject

*.p12
*.mmdb


.editorconfig

dependency-reduced-pom.xml
